.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom:20px;
}
.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProduct__info{
    margin-top: 30px;
    padding-left: 20px;
}
.checkoutProduct__title{
    font-size:17px;
    font-weight:800;
}
.checkoutProduct__rating{
    display: flex;
}
.checkoutProduct__info > button{
    background-color: rgb(253, 160, 84);
    border: 1px solid;
    border-color: rgb(236, 175, 8);
    width: 150px;
    display: flex;
    padding-left: 9%;
    margin-top: 20px;
}